#laura {
  width: 60px;
}
#post {
  width: 400px;
}

#how-to-learn {
  width: 75px;
}

#unknown-power {
  width: 75px;
  /* margin-top: 14px; */
}

#why-javascript {
  width: 75px;
  /* margin-top: 14px; */
}
